.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox--selected {
  border-top: 10px solid rgb(106, 90, 205);
}

.infoBox--red {
  border-color: red;
}
.infoBox__cases--red {
  color: red !important;
}

.infoBox__cases {
  color: rgb(106, 90, 205);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.info__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important ;
  margin-top: 15px !important;
}
